.sidebar-item p {
    padding: 0px;
    margin: 0px
}

.bloglogo img {
    height: 30px;
    width: 30px
}

body.intent-mouse [role="button"]:focus, body.intent-mouse button:focus, body.intent-mouse summary:focus {
    outline: none;
}

button {
    outline: none;
}