{{ if .Site.Params.linkedinName }}
    <a class="bloglogo" href="https://www.linkedin.com/in/{{ .Site.Params.linkedinName }}" target="_blank">
        <span class="icon-linkedin" style="color:white;font-size:2em"></span>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.githubName }}
    <a class="bloglogo" href="https://github.com/{{ .Site.Params.githubName }}" target="_blank">
    <span class="icon-github" style="color:white;font-size:2em"></span>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.email }}
    <a class="bloglogo" href="mailto:{{ .Site.Params.email }}" target="_blank">
        <span class="icon-mail" style="color:white;font-size:2em"></span>
    </a>
&nbsp;
{{end}}
